{% extends 'base2.html' %}
{% load static %}

{% block content %}

<style>

    
  .btn1 {
      width: 150px;
      height: 40px;
  }

  .btn1 button {
      
      background: #6699cc;
      border: none;
      padding: 10px 18px;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      outline: none;
      box-shadow: 0px 5px 5px rgb(145, 145, 145);
  }
  .btn1 button:hover{
    background: white;
    border: 1px solid;
    color: #6699CC;
  }
  #mainusbtn,#plusbtn{
      display: none;
      font-weight: 700;
  }
</style>

<body>
  <section class="h-100 h-custom">

    {% if totalProduct is 0 %}
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11 mt-4 mb-4">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-3 mx-md-4 mt-5" id="login" style="color: #385e85;">Your Cart is Empty</p>
                  <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Please add products </br> in your Cart</p>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="{% static 'images/empty-cart.png'%}" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- <td class="align-middle">
        <p class="mb-0" id="cardtext1">Cart Is Empty</p>
      </td> -->
    {% else %}
    <form method="POST">

      {% csrf_token %}

    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h7"><b>Shopping</b></th>
                  <th scope="col" class="h7"><b>Item</b></th>
                  <th scope="col" class="h7"><b>Quantity</b></th>
                  <th scope="col" class="h7"><b>Price</b></th>
                  <th scope="col" class="h7"><b>Remove</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for i in cartDictData.cartData %}
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src="{{ i.productImage.url }}" class="img-fluid" style="width: 100px;" alt="Book">
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" id="cardtext1">{{ i.productName }}</p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex flex-row">
                      <div class="btn1">
                        <input type="hidden" id="myVar" name="variable" value="{{ i.id }}">
                        <button class="mainusbtnn{{i.productId}}" id="mainusbtnn" onclick="negativen({{i.cartId}},{{i.productId}},{{i.productPrice}})">-</button>
                        <button class="mainbtnn{{i.productId}}" id="mainbtnn{{i.productId}}" onclick="addCartn({{i.cartId}},{{i.productId}},{{i.productPrice}})">{{i.qty}}</button>
                        <button class="plusbtnn{{i.productId}}" id="plusbtnn" onclick="positiven({{i.cartId}},{{i.productId}},{{i.productPrice}})">+</button>
                    </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" id="cardtext1">₹{{ i.productPrice }}</p>
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'removeCartUrl' i.cartId %}" style="color: #4d76a0"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>

          <div class="row d-flex justify-content-center align-items-center h-100">


            <div class="col-lg-12 col-xl-11 mt-4 mb-4">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-xl-4 text-center">
                      <div class="d-flex justify-content-between text-center" style="font-weight: 500 !important;">
                        <p class="mb-2 text-center" id="cardtext"><b>Subtotal</b></p>
                        <p class="mb-2 text-center" id="cardtext"><b>₹{{cartDictData.cartTotal}}</b></p>
                        <!-- <p class="mb-2 text-center" id="cardtext"><input id="subtotal" name="subtotal" value="{{cartDictData.cartTotal}}" readonly/></p> -->
                      </div>
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0" id="cardtext"><b>Shipping</b></p>
                        <p class="mb-0" id="cardtext"><b>₹{{cartDictData.deliveryCharge}}</b></p>
                      </div>
                      <div class="d-flex justify-content-between" style="font-weight: 500;">
                        <p class="mb-0" id="cardtext"><b>Gst</b></p>
                        <p class="mb-0" id="cardtext"><b>₹{{cartDictData.gstAmount}}</b></p>
                      </div>
                      <hr class="my-4">
                      <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                        <p class="mb-2" id="cardtext"><b>Total (tax included)</b></p>
                        <p class="mb-2" id="cardtext"><b>₹{{cartDictData.finalTotal}}</b></p>
                      </div>

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a href="{% url 'checkouturl' %}"><button type="button" class="btn btn-lg">Checkout</button></a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </form>
    {% endif %}
  </section>
</body>

{% endblock %}