{% extends 'base1.html' %}
{% load static %}

{% block content %}

  <body>
   
    <!--  CONTENT PAGE START -->

    <div class="container-fluid bg-light py-3">
      <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Rating</h1>
      </div>
    </div>

    <!--  CONTENT PAGE END -->

    <!-- START CONTACT -->

    <div class="container py-3">
      <div class="row py-3">

        <form class="col-md-9 m-auto" method="POST" role="form">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-6 mb-3">
              <label for="inputname">Product Name</label>
              <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name" value="{{productData.name}}" readonly />
            </div>
          </div>
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <div class="mb-3">
            <label for="inputmessage">Review</label>
            <textarea class="form-control mt-1" id="message" name="review" placeholder="Give your Feedback..." rows="5"></textarea>
          </div>
          <div class="row">
            <div class="col text-center mt-2">
              <button type="submit" class="btn btn-success btn-lg px-3">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- END CONTACT -->

  </body>

{%endblock%}